// Copyright (c) 2023 Massimo Ghisalberti
//
// This software is released under the MIT License.
// https://opensource.org/licenses/MIT

@use "sass:math";
@import "helpers.scss";

$box-width: 18em;
$box-height: 12em;
$dir-size: 3em;
$dir-diag: $dir-size * $sqrt2;
$box-margin-top: math.div($dir-diag, 1.8);
$box-margin-right: math.div($dir-diag, 1.8);
$box-margin-bottom: math.div($dir-diag, 1.8);
$box-margin-left: math.div($dir-diag, 1.8);

$bgcolor: #ffffff;
$bgcolor-opaque: rgba($bgcolor, 0.75);

$border-size: 0em;
$border-color: #e5e5e5;
$border-radius-box: 0em;
$border-radius-dir: 0em;

$shadow-filter: drop-shadow(0em 0em 0.4em #979797);

$content-padding: 0.4em;
$content-margin: 0em;
$content-font-size: 0.9em;
$content-font-family: Arial, Helvetica, sans-serif;

// Firefox problem? 50% with ghost line.
$half-translate-delta: 50%;

@mixin reset-margin-block {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
}

.box {
  position: relative;
  margin: $box-margin-top $box-margin-right $box-margin-bottom $box-margin-left;
  width: $box-width;
  height: $box-height;
  filter: $shadow-filter;
  border: $border-size solid $border-color;
  border-radius: $border-radius-box;
  background-color: $bgcolor;

  .info {
    width: 100%;
    height: 100%;
    background-color: $bgcolor;
    position: absolute;
    z-index: 0;
    border-radius: $border-radius-box;
    & > * {
      display: none;
    }
    & > *:first-child {
      @include reset-margin-block;
      display: block;
      position: absolute;
      background-color: $bgcolor;
      padding: $content-padding;
      margin: $content-margin;
      font-size: $content-font-size;
      font-family: $content-font-family;
    }
  }

  .dir {
    width: $dir-size;
    height: $dir-size;
    background-color: $bgcolor;
    clip-path: polygon(0% 100%, 100% 100%, 0% 0%, 0% 0%);
    border-left: $border-size solid $border-color;
    border-bottom: $border-size solid $border-color;
    border-radius: $border-radius-dir;
    position: absolute;
    top: 0em;
    z-index: 1;
    display: none;
  }

  .top {
    $angle: 135deg;
    display: block;
    top: 0em;
    @include horiz-positions("top", $box-width, $dir-size, $angle, -$half-translate-delta);
  }

  .right {
    $angle: -135deg;
    display: block;
    right: 0em;
    @include vert-positions("right", $box-height, $dir-size, $angle, $half-translate-delta);
  }

  .bottom {
    $angle: -45deg;
    display: block;
    top: unset;
    bottom: 0em;
    @include horiz-positions("bottom", $box-width, $dir-size, $angle, $half-translate-delta);
  }

  .left {
    $angle: 45deg;
    display: block;
    left: 0em;
    @include vert-positions("left", $box-height, $dir-size, $angle, -$half-translate-delta);
  }
}

.opaque {
  background-color: $bgcolor-opaque;
  border: none;
  .dir,
  .info,
  .info > *:first-child {
    border: none;
    background-color: $bgcolor-opaque;
  }
  .info,
  .info > *:first-child {
    border: none;
    background-color: transparent;
  }
}
