.box {
  position: relative;
  margin: 2.357022604em 2.357022604em 2.357022604em 2.357022604em;
  width: 18em;
  height: 12em;
  filter: drop-shadow(0em 0em 0.4em #979797);
  border: 0em solid #e5e5e5;
  border-radius: 0em;
  background-color: #ffffff;
}
.box .info {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  position: absolute;
  z-index: 0;
  border-radius: 0em;
}
.box .info > * {
  display: none;
}
.box .info > *:first-child {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  display: block;
  position: absolute;
  background-color: #ffffff;
  padding: 0.4em;
  margin: 0em;
  font-size: 0.9em;
  font-family: Arial, Helvetica, sans-serif;
}
.box .dir {
  width: 3em;
  height: 3em;
  background-color: #ffffff;
  clip-path: polygon(0% 100%, 100% 100%, 0% 0%, 0% 0%);
  border-left: 0em solid #e5e5e5;
  border-bottom: 0em solid #e5e5e5;
  border-radius: 0em;
  position: absolute;
  top: 0em;
  z-index: 1;
  display: none;
}
.box .top {
  display: block;
  top: 0em;
}
.box .top.pos-top-left {
  transform: translate(2em, -50%) rotate(135deg);
}
.box .top.pos-top-center {
  transform: translate(6.8786796564em, -50%) rotate(135deg);
}
.box .top.pos-top-right {
  transform: translate(12.7573593129em, -50%) rotate(135deg);
}
.box .right {
  display: block;
  right: 0em;
}
.box .right.pos-right-top {
  transform: translate(50%, 2em) rotate(-135deg);
}
.box .right.pos-right-center {
  transform: translate(50%, 3.8786796564em) rotate(-135deg);
}
.box .right.pos-right-bottom {
  transform: translate(50%, 6.7573593129em) rotate(-135deg);
}
.box .bottom {
  display: block;
  top: unset;
  bottom: 0em;
}
.box .bottom.pos-bottom-left {
  transform: translate(2em, 50%) rotate(-45deg);
}
.box .bottom.pos-bottom-center {
  transform: translate(6.8786796564em, 50%) rotate(-45deg);
}
.box .bottom.pos-bottom-right {
  transform: translate(12.7573593129em, 50%) rotate(-45deg);
}
.box .left {
  display: block;
  left: 0em;
}
.box .left.pos-left-top {
  transform: translate(-50%, 2em) rotate(45deg);
}
.box .left.pos-left-center {
  transform: translate(-50%, 3.8786796564em) rotate(45deg);
}
.box .left.pos-left-bottom {
  transform: translate(-50%, 6.7573593129em) rotate(45deg);
}

.opaque {
  background-color: rgba(255, 255, 255, 0.75);
  border: none;
}
.opaque .dir,
.opaque .info,
.opaque .info > *:first-child {
  border: none;
  background-color: rgba(255, 255, 255, 0.75);
}
.opaque .info,
.opaque .info > *:first-child {
  border: none;
  background-color: transparent;
}

/*# sourceMappingURL=box.css.map */
