// Copyright (c) 2023 Massimo Ghisalberti
//
// This software is released under the MIT License.
// https://opensource.org/licenses/MIT

@use "sass:math";
@use "sass:list";

$sqrt2: 1.41421356237; //sqrt(2);

@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}

@function delta($size, $n, $div) {
  @return $size / $n;
}

@mixin horiz-positions($dir, $box-width, $dir-size, $angle, $half-translate-delta) {
  $diag: $dir-size * $sqrt2;
  $half-diag: math.div($diag, 2);
  $half-width: math.div($box-width, 2);
  &.pos-#{$dir}-left {
    transform: translate(2em, $half-translate-delta) rotate($angle);
  }
  &.pos-#{$dir}-center {
    transform: translate($half-width - $half-diag, $half-translate-delta) rotate($angle);
  }
  &.pos-#{$dir}-right {
    transform: translate($box-width - $diag - 1em, $half-translate-delta) rotate($angle);
  }
}

@mixin vert-positions($dir, $box-height, $dir-size, $angle, $half-translate-delta) {
  $diag: $dir-size * $sqrt2;
  $half-diag: math.div($diag, 2);
  $half-height: math.div($box-height, 2);
  &.pos-#{$dir}-top {
    transform: translate($half-translate-delta, 2em) rotate($angle);
  }
  &.pos-#{$dir}-center {
    transform: translate($half-translate-delta, $half-height - $half-diag) rotate($angle);
  }
  &.pos-#{$dir}-bottom {
    transform: translate($half-translate-delta, $box-height - $diag - 1em) rotate($angle);
  }
}
